extends layout

block content
  .container
    #carousel.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#carousel',data-slide-to='0')
        li(data-target='#carousel',data-slide-to='1')
        li(data-target='#carousel',data-slide-to='2')
      .carousel-inner
        .item.active
          img(src='/images/homepage/1.jpg')
        .item
          img(src='/images/homepage/2.jpg')
        .item
          img(src='/images/homepage/3.jpg')
      .left.carousel-control(href='#carousel',data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      .right.carousel-control(href='#carousel',data-slide='next')
        span.glyphicon.glyphicon-chevron-right
