doctype html
html
  include include/header

  body
  .navbar-wrapper
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#')= app_name
      .navbar-collapse.collapse
        ul.nav.navbar-nav          
          if locale == 'en'
            li.active
              a(href='#') Home
            li
              a(href='#about') About
          else 
            li.active
              a(href='#') 主页
            li
              a(href='#about') 关于
            if localeName != null
            li
              a(href='www.baidu.com')=localeName  


    block content
  
//include inc/footer