extends layout
block scripts
  link(rel='stylesheet',href="/css/register-login.css")
block content
  .container
    form#form-signin(action='/api/signin',method='post')
      h2.form-signin.heading.text-center= locale.signinPage.signin_title
      input.form-control(name='email',placeholder='#{locale.signinPage.email_placeholder}')
      input.form-control(name='password',type='password',placeholder='#{locale.signinPage.password_placeholder}')
      
      input.hidden(name='redirect',value='/')
      button#signin-submit.btn.btn-primary.btn-block(type='submit')= locale.signinPage.login_button

