extends layout

block content
  #messages.container
    
  #search.container
    .input-group.col-md-4.pull-right
      input.form-control(type='text',placeholder='Search')
      span.input-group-btn
        button.btn.btn-default#searchcard
          span.glyphicon.glyphicon-search
  //- #createCard.container
