extends layout

block content  
  #search.container
    .input-group.col-md-4.pull-right
      input.form-control(type='text',placeholder='Search')
      span.input-group-btn
        button.btn.btn-default#searchcard
          span.glyphicon.glyphicon-search
  #messages.container
    |ã€
  #createCard.container
    a.btn.btn-default(href="/managecards/create")= locale.manageCards.create_card
