extends layout

block content
  form#test-register(action='/api/register',method='post')
    label(for='name') User Name
    input.text(id='name',name='name')
    label(for='password') Password
    input.text(id='password',name='password')
    label(for='email') email
    input.text(id='email',name='email')
    label(for='telephone') telephone
    input.text(id='telephone',name='telephone')
    label(for='address') address

    input.text(id='address',name='address')
    input.button(type='submit',value='Send')

  form#test-warrantyCard(action='/api/warrantycard/create',method='post')
    label(for='SN') SN
    input.text(id='SN',name='SN',value='test')
    label(for='KY') KY
    input.text(id='KY',name='KY',value='test')
    label(for='customer') customer
    input.text(id='customer',name='customer',value='5332b14e49a2317028526cba')
    label(for='creator') creator
    input.text(id='creator',name='creator',value='5332b14e49a2317028526cba')
    label(for='shop') shop

    input.text(id='shop',name='shop',value='5332b14e49a2317028526cba')
    input.button(type='submit',value='SendWarrantyInfo')
    //- .container
    //-   .header
    //-     ul.nav.nav-pills.pull-right
    //-       li.active
    //-         a(href='#') Home
    //-       li
    //-         a(href='#') About
    //-       li
    //-         a(href='#') Contact
    //-     h3.text-muted Project name
    //-   .jumbotron
    //-     h1 Jumbotron heading
    //-     p.lead
    //-       | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    //-     p
    //-       a.btn.btn-lg.btn-success(href='#') Sign up today
    //-   .row.marketing
    //-     .col-lg-6
    //-       h4 Subheading
    //-       p
    //-         | Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
    //-       h4 Subheading
    //-       p
    //-         | Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
    //-       h4 Subheading
    //-       p Maecenas sed diam eget risus varius blandit sit amet non magna.
    //-     .col-lg-6
    //-       h4 Subheading
    //-       p
    //-         | Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
    //-       h4 Subheading
    //-       p
    //-         | Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
    //-       h4 Subheading
    //-       p Maecenas sed diam eget risus varius blandit sit amet non magna.
    //-   .footer
    //-     p &copy; Company 2013