body{background-color: #f6f7f1;}
#header{
  padding-top:15px;
  border-bottom: 1px solid #e5e5e5;
  letter-spacing: 
}
#header a{
  color: #333333;

  letter-spacing:2px;
}
.nav-pills{
  float: left;
}
.nav-pills{
  /*padding:10px 15px;*/
  margin-top: 5px;
  margin-bottom: 10px;
}
.float-right{
  float: right!important;
}
ul.nav.navbar-nav.navbar-right>li{
  margin-top: 5px;
}

/*.center-row{
  display:table;
}
.vertical-center{
  float: none;
  display:table-cell;
  vertical-align:middle;
}*/