/*body{background-color: #f6f7f1;}*/ 
html,body{
    height: 100%
}
span.icon-bar{
  background-color: black;
}
#header{
  /*padding-top:15px;*/
  border-bottom: 1px solid #e5e5e5;
  letter-spacing: 
}
#header a{
  color: #333333;

  letter-spacing:2px;
}
.navbar{
  margin-bottom: 0px;
}
.nav-pills{
  float: left;
}
.nav-pills{
  /*padding:10px 15px;*/
  margin-top: 5px;
  /*margin-bottom: 10px;*/
}
.float-right{
  float: right!important;
}
ul.nav.navbar-nav.navbar-right>li{
  margin-top: 5px;
}
h1, h2, h3, h4, h5, h6 {
font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Segoe UI', 'Microsoft Yahei', Tahoma, Arial, STHeiti, sans-serif;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

/*#page{
  background: #f7f8f6;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  box-shadow: 0 0 5px rgba(0,0,0,0.3) \9;
}*/
body>.container{
  min-height:90%;
}
body>.container>.wrapper{
  min-height: 75%;
}
footer {
  text-align: center;
  width: 100%;
  margin-top:20px;
}

#message-box.row{
  width:50%;
}
#message-box>.alert{
  margin-top:5px;
  margin-bottom: 5px;
}
/*.center-row{
  display:table;
}
.vertical-center{
  float: none;
  display:table-cell;
  vertical-align:middle;
}*/