#page{
  background: #f7f8f6;
  min-height: 768px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.15);
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
  box-shadow: 0 0 5px rgba(0,0,0,0.3) \9;
}
#cards{
  margin-top: 50px;
}
#cards .active-card{
  min-width:720px;
  border-bottom: 1px solid #dddddd;
  /*border-top: 1px solid #dddddd;*/

}
/*.card{
  max-width: 900px;
  margin:auto;
}*/
.card .thumbnail{
  margin:2%;
  width:150px;
  height:150px;
}
.card .card-body{
  margin-top:20px;
}
.active-card .card .warranty-status{
  position: absolute;
  top:-20px;
  right:10px;
  width:90px;
  height: 90px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 6px solid #d2e8ea;
}
.warranty-status-text{
  display:block;
  font-family: "Helvetica Neue", Arial;
  font-weight: bold;
  color:#769bb3;;
  position:relative;
  padding-top:20px;
}

.card-body .view-details{
  position:relative;
  /*left:25%;*/
  top:50px;
}

.card-detail .note-text {
  margin-top: 20px;
  margin-left: 20px;
}
/*.card-detail .note{
  border=
}*/
/*#cards button.view-details{
  float:right;
  position:relative;
  left:75%;
  top:20%;
}*/
/*
#cards .card-body .warranty-status{
  display:block;
}

.card-detail{
  margin-top:20px;
}*/